<mat-sidenav-container class='app-side-nav-container' fullscreen>
    <mat-sidenav #sidenav role="navigation" mode="side" [opened]="sidenavLayout">
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/'">New Account</a>
            <a mat-list-item [routerLink]="'/'">Edit Account</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button (click)="toggleSidenav()">
            Main content
        </button>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>