<div class="container mat-elevation-z8">

    <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput #filter placeholder="Filter book">
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource!" matSort class="mat-cell">
        ng updatae @angular/cli @angular/ng-container

        <ng-container matColumnDef="isbn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                ISBN
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.isbn}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="bookName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Book Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.bookName}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Company
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.company}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Price
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.price}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="genreCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Genre Code
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.genreCode}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openAddDialog()">
                    <mat-icon aria-label="Example icon-button with a heart icon">
                        add
                    </mat-icon>
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent"
                    (click)="startEdit(i, row.isbn, row.bookName, row.company, row.price, row.genreCode)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button color="accent"
                    (click)="deleteItem(i, row.isbn, row.bookName, row.company, row.price, row.genreCode)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="no-results" [style.display]="dataSource!.renderedData?.length == 0 ? '' : 'none'">
        No results
    </div>

    <mat-paginator #paginator [length]="dataSource!.filteredData?.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>